/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --accent-color: #FF0070;
    --background-color: #DB00FF;
    --header-image-background: url("../images/cover-image-dark.png");
    --header-text-color: #000028;
    --paragraph-text-color: #F1B2CE;
    --paragraph-heading: #FF0070;
    --button-color-hover: #FF007066;
    --border-color: #FF0070;
    --page-background-color: #000028;
}